.lead__title {
  max-width: 720px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.07;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 32px;
  transition: ease all 1s;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    margin: 0 auto 16px;
    padding: 0 16px;
  }
}
