.intro__text {
  max-width: 690px;
  font-family: 'Inter', 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #FFFFFF;
  margin: 40px 0 33px;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 100%;
  }
}
