.place {
  display: grid;
  grid: auto auto / 460px auto;
  max-width: 984px;
  margin: 0 auto 80px;
  gap: 48px 40px;
}
.place:last-of-type {
  margin: 0 auto 92px;
}

@media screen and (max-width: 1279px) {
  .place {
    padding: 0 48px;
    gap: 48px 32px;
    grid: auto auto / 440px auto;
  }
}
