.header__lang-links {
  display: flex;
  gap: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .header__lang-links {
    padding: 0 0 8px 0;
  }
}
